//Variable
$primary :#545479;
$secondary : #364E79;
// $navbar-item-hover-color : 
$navbar-item-color : #fff;
$navbar-item-hover-color : #E8F3F1;
$navbar-item-img-max-height : 2rem;
$navbar-item-active-color : $primary;
// $primary{

// }
.has-primary-font{
    font-family: "Poppins", sans-serif;
}
.has-primary-background{
    background-color: #00C2A7;
    color: #fff; //text color
}
.navbar{
    margin-top: 2rem;
}
.navbar-start {
    text{
        color: black;
    }
    .navbar-item {
        transition: transform 0.3s ease; 
    }

    .navbar-item:hover {
        transform: scale(1.2); 
    }
}
.navbar-end{
    .icon{
        color: #fff;
            transition: transform 0.3s ease-in-out;
    }
    .icon :hover{
        transform: scale(1.2);
    }
    
}

.navbar-item{
    font-family: "Poppins", sans-serif;
}
.container h1{
    color: #fff;
}
.container h2{
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #170000;
}
.hero{
    background: url("./../img/piattos.jpg") center / cover;
}
// product haruulah heseg
.container {
    .card{
        justify-content: center;
        align-items: center; 
    
    }
}
// .container {
//     .column{
//         display: block;
//         transition: transform 0.3s ease;
//     }

//     .column :hover{
//       transform: scale(1.2);
//     }
// }
.footer a{
    color: $secondary;
    transition: color 0.3s ease-in-out;
}
.footer a :hover{
    color : $primary;
}
//bulma.sass import
@import "../node_modules/bulma/bulma.sass";
 